body {
    font-family: Roboto, sans-serif;
    background-color: #ededed;
    line-height: 35px;
    color: #000000;
    font-size: 20px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 20px;
    color: #37a8e0;
    float: left;
    margin: 0;
    margin-bottom: 10px;
}

h3 {
    font-size: 18px;
    float: left;
    margin: 0;
}

.main {
    float: left;
    width: calc(50% - 100px);
    background-color: #fff;
    margin: 10px;
    padding: 40px;
}

input,
textarea,
.image-preview {
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #e6e6e6;
    margin: 10px 0;
}

#postForm label {
    float: left;
    width: 20%;
    margin: 10px 0;
}

#postForm input,
#postForm textarea,
#postForm .image-preview {
    width: calc(80% - 40px);
}

.image-preview {
    float: right;
    height: 150px;
}

#imagePreview {
    margin: o auto;
    width: 100%;
    height: 100%;
}

ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    float: left;
}

li {
    list-style-type: none;
    float: left;
}

.item-post {
    margin-bottom: 20px;
}

.date {
    float: right;
    color: #9e9e9e;
    font-style: italic;
    font-weight: 100;
}

.image {
    width: 100%;
    float: left;
}

p,
ul {
    float: left;
    width: 100%;
}

.likes {
    float: left;
    background-color: #d7edf8;
    padding: 10px 20px;
    color: #37a8e3;
    border-radius: 5px;
    cursor: pointer;
}

.likes:hover {
    background-color: #1d71b9;
    color: #fff;
}

button,
.send-btn {
    background-color: #ffe364;
    font-size: 20px;
    float: right;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    line-height: 35px;
}

.comments-info {
    float: right;
    line-height: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.list-comments li {
    border-left: 5px solid #e6e6e6;
    float: left;
    width: calc(100% - 20px);
    margin: 20px 0;
    padding-left: 20px;
}

#commentForm {
    float: left;
    width: 100%;
}

ul .list-comments {
    border-top: 5px solid #e6e6e6;
    margin-top: 20px;
}


/* ********************************/

.post {
    float: left;
    width: calc(46% - 80px);
    background-color: #fff;
    margin: 15px;
    padding: 40px;
}

.image img {
    max-height: 250px;
    height: 100%;
}

.item-post button:hover,
.send-btn:hover {
    background-color: #fffa05;
}

.send-btn {
    width: 100%;
}

#commentIn {
    float: left;
    width: 100%;
}

#commentAuthor,
#commentText {
    width: calc(100% - 40px);
}